---
layout: _page_skeleton.njk
title: "Homepage"
---
{%- from "_njk/components.njk" import component -%} 
{{ component("page-header", {title: site.name, styles: "text-4xl"}) }}
<p class="text-2xl">Just some content here</p>
{% console site.name, "site.name" %}

<top></top>